:root{
    --bg-color: #006edb;
    --bg-white: #fff;
    --text-black: #000;
    --text-black-50: #666;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: var(--bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background: var(--bg-white);
    width: 50%;
    border-radius: 8px;
    padding: 20px;
}
.quotes-div{
    display: flex;
    justify-content: center;
}
.left-quote,.right-quote{
    font-size: 32px;
}
#quote-txt{
    color: var(--text-black-50);
}
.left-quote{
    margin-right: 8px;
}
.right-quote{
    display: flex;
    align-items: flex-end;
    margin-left: 8px;
}
.author-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0;
}
.footer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer div i{
    font-size: 24px;
    color: var(--text-black-50);
    margin-right: 13px;
    transition: all 0.6s;
    cursor: pointer;
}
.footer div i:hover{
    color: var(--text-black);
}
.btn{
    background: var(--bg-color);
    color: var(--bg-white);
    padding: 6px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.load{
    opacity: 0.4;
}